@model CarsShop.Models.Car
@{
    ViewBag.Title = "Comments";
}


<h2 style="text-align:center">Комментарии @(Model.Mark + " " + Model.Series)</h2>
<h4 style="text-align:end">Данное объявление смотрели @Model.CountViews раз</h4>

@Html.Action("_CommentPartial",Model.CarId)



