@model Guid
@{
    ViewBag.Title = "Comments";
}

<h2>Comments</h2>
<h4>@Model</h4>
<div id="CommentsBlock">
    <p class="comment-form-comment">
        <label for="comment" style="font-family:Arial, Helvetica, sans-serif;font-size:20px;"><i>Комментировать:</i></label> <br />
        <input type="text" id="textc">
    </p>
</div>
<div class="btn btn-success"  id="AddComm">Добавить комментарий</div>


@*<html>
<head>
    <title>Dynamically add Textbox, Radio, Button in html Form using JavaScript</title>
    <script language="javascript">
        function add(type) {

            //Create an input type dynamically.
            var element = document.createElement("input");

            //Assign different attributes to the element.
            element.setAttribute("type", type);
            element.setAttribute("value", type);
            element.setAttribute("name", type);


            var foo = document.getElementById("fooBar");

            //Append the element in page (in span).
            foo.appendChild(element);

        }
    </script>
</head>
<body>
    <form>
        <h2>Dynamically add element in form.</h2>
        Select the element and hit Add to add it in form.
        <br />
        <select name="element">
            <option value="button">Button</option>
            <option value="text">Textbox</option>
            <option value="radio">Radio</option>
        </select>

        <input type="button" value="Add" onclick="add(document.forms[0].element.value)" />

        <span id="fooBar">&nbsp;</span>

    </form>
</body>
</html>*@

