@using CarsShop.Models
@model List<Car>
@{
    ViewBag.Title = "MyBookmarks";
}

<h2 style="text-align:center">Мои объявления</h2>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Владелец</th>
            <th>Данные</th>
            <th>Время добавления</th>
        </tr>
    </thead>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tbody>
            <tr class="info">
                <td>@(i + 1)</td>
                <td>@Model[i].Author</td>
                <td>@(Model[i].Mark + " " + Model[i].Series + " " + Model[i].Year) </td>
                <td>@Model[i].DateAdded</td>
                <td><a href="#" class="btn btn-primary btn-xs">Mini button</a></td>
            </tr>

        </tbody>
    }
</table> 