@using CarsShop.Models
@model CarDataList
@{
    ViewBag.Title = "About";
}


<h3>Разработчики</h3><br>
<ul>
<li>Ополько Сергей</li>
    <li>Ляльковский Степан</li>
    <li>Пискун Денис</li>
</ul><br>


    Email: CarshopSDS@gamil.com


