@using CarsShop.Models
@model CarDataList
@{
    ViewBag.Title = "About";
}

<h3>Разработчики</h3><br>
<ul>
   <h4> <li>Ополько Сергей</li>
    <li>Ляльковский Степан</li>
    <li>Пискун Денис</li>
    </h4>
</ul><br>
@foreach (var car in Model.Cars)
{
    foreach(var pic in Model.Pictures)
    {
              <p>
             @(car.Mark)
        </p>
      <p>
             @if (pic.PicId == car.CarId)
             {
                   <p>
             @(car.CarId)
                </p>
                   <p>
             @(pic.PicId)
        </p>
                 @Html.Raw("<img style = 'width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                                                      + Convert.ToBase64String(pic.Image) + "\" />") 
             }
     </p>
    }
}
Email: CarshopSDS@gamil.com


