@{
    ViewBag.Title = "About";
}

<h3>Разработчики</h3><br>
<ul>
   <h4> <li>Ополько Сергей</li>
    <li>Ляльковский Степан</li>
    <li>Пискун Денис</li>
    </h4>
</ul><br>
Email: CarshopSDS@gamil.com


