@using CarsShop.Models
@model Car

@{
    ApplicationDbContext db = new ApplicationDbContext(); 
    int maxViews = db.Cars.Max(c => c.CountViews);
    Car car = db.Cars.FirstOrDefault(c => c.CountViews == maxViews);
}

<div class="container">
    <div class="row">
        <div class="well">
            <h2 class="text-center">Топ-просмотр</h2>
            <div class="list-group">
                <a href="@Url.Action("Viewsplusplus", "UserActions", new { CarId = car.CarId })" class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive" src="\donthotlink-crazy-frog-1280x1024-2.jpg" alt="placehold.it/350x250">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading"> Описание </h4>
                        <p class="list-group-item-text">


                        </p>
                    </div>
                    <div class="col-md-3 text-center">
                        <h2> @car.CountViews <small> Просмотров </small></h2>
                        <div class="stars">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
